/* Applies to index.html */
.mypic {
  height: 250px;
  width: 190px;
  float: left;
  margin: 20px;
  border: black solid 5px;
}

/* Applies to all 3 pages */
body {
  background-image: url(img/my-cool-background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

/* Applies to all 3 pages */
.my-name {
  font-size: 30px;
}

/* Applies to all 3 pages */
h1 {
  text-align: center;
  font-weight: initial;
  margin: 20px;
}

/* Applies to index.html */
p {
  text-align: justify;
}

/* Applies to all 3 pages */
.navbar {
  font-size: larger;
  letter-spacing: 0.1rem;
  font-weight: 600;
}

/* Applies to all 3 pages */
.nav-link {
  color: #5b5555 !important;
}

/* Applies to all 3 pages */
.nav-link.active,
.nav-link:hover {
  color: #4981b3 !important;
}

/* Applies to all 3 pages */
.surrounding {
  background-color: rgb(142, 172, 190);
  margin: 20px;
  padding: 30px;
  border: 5px solid rgb(235, 233, 233);
}

/* Applies to contact.html */
.btn {
  background-color: rgb(10, 10, 10);
  border: none;
}

/* Applies to index.html */
.myphoto {
  height: 250px;
  width: 200px;
  margin: 5px 15px 5px 5px;
  border: 5px solid #000000;
}

/* Applies to portfolio.html */
.myphoto1 {
  width: 250px;
  margin: 5px 15px 5px 5px;
  border: 5px solid #000000;
}

/* Applies to portfolio.html */
.container1 {
  text-align: center;
}

/* Applies to all 3 pages */
footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 20px;
  background-color: rgb(235, 233, 233);
  margin-top: 15px;
}

/* Applies to contact.html */
.fa-facebook {
  background: #3B5998;
  color: white;
  align-items: center;
}

/* Applies to contact.html */
.fa-twitter {
  background: #55ACEE;
  color: white;
}

/* Applies to contact.html */
.fa-linkedin {
  background: #007bb5;
  color: white;
}

/* Applies to contact.html */
.fa-instagram {
  background: #125688;
  color: white;
}

/* Applies to contact.html */
.fa-pinterest {
  background: #cb2027;
  color: white;
}

/* Applies to contact.html */
p1 {
  font-weight: 600;
}

/* Applies to contact.html */
.fa {
  padding: 10px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 15px 5px;
  letter-spacing: initial;
  border-radius: 50%;
}

/* Applies to contact.html */
.fa:hover {
  opacity: 1;
  text-decoration: none;
}